/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */
#content {
	height: 100%;
	margin: 0 auto;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
	color: white;
	font-size: 20px;
}
.dygraph-axis-label { font-family: "Courier New", Courier, monospace; }
.dygraph-axis-label.dygraph-axis-label-x { font-size: 10px;}
.dygraph-ylabel { font-size: 18px; font-family: "Courier New", Courier, monospace;}

.tabItemActive .tabSpan {
    color: white;
    background-color: black;
    font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	vertical-align: middle;
	word-spacing:30px;
}

.tabSpan {
	color: black;
    background-color: #CBCBCB;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	line-height: 30px;
	vertical-align: middle;
	height: 63px; /* image's height */
	word-spacing:30px;
}

.tabBar{
	border-bottom: 0px;
	vertical-align: middle;
	background-color: black;
}