
/* Stylesheet content from css/MQTTSample.css in folder common */
/*
============================================================================ 
Licensed Materials - Property of IBM

5747-SM3
 
(C) Copyright IBM Corp. 1999, 2012 All Rights Reserved.
 
US Government Users Restricted Rights - Use, duplication or
disclosure restricted by GSA ADP Schedule Contract with
IBM Corp.
============================================================================
 */

/*Worklight container div */
#content {
	height: 460px;
	margin: 0 auto;
	width: 320px;
}

a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	background: transparent;
	border: 0 none;
	font-size: 94%;
	font-family: inherit;
	outline: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

table, tbody, td, tfoot, th, thead, tr {
	background: transparent;
	border: 0 none;
	font-size: 100%;
	font-family: inherit;
	outline: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

form.tabContent {
	border: 1px solid #c9c3ba;
	padding: 0.5em;
	background-color: #f1f0ee;
}

form.tabContent.hide {
	display: none;
}

fieldset, img {
	border: 1px solid;
}

span.tabSpan {
height: 63px;
text-align: center;
line-height: 2;
vertical-align: top;
}

